#button {
	background-color: transparent;
	background-image: url("css-sprites.jpg") no-repeat;
	background-position: 0 0;
	display: block;
	width: 180px;
	height: 49px;
}

#button:hover {
	background-position: 0 -50px;
	height: 49px;
}

#button:visited {
	background-position: 0 -99px;
	height: 49px
}
