a.button {
	display: block;
	background: url("sprites.jpeg") no-repeat;
	width: 180px;
	height: 49px;
	background-position: 0 0;
}

a.button:hover {
	background-position: 0 -50px;
	height: 49px;
}

a.button:visited {
	background-position: 0 -99px;
	height: 49px
}
