table {
	width: 75%;
	margin: auto;
	background-color: #CC9966;
	border: 5px black;
	border-collapse: collapse;
	}

tr:nth-of-type(even) {
	background-color: FFCC99;
}

td, th {
	padding: 5px;
}

tr {
	border-bottom: 2px black;
}
