table {
	width: 75%;
	margin: auto;
	background-color: #CC9966;
	border: 5px solid black;
	border-collapse: collapse;
	}

tr:nth-child(even) {
	background-color: FFCC99;
}

td, th {
	padding: 5px;
}

tr {
	border-bottom: 2px solid black;
}
