body {
	background-color: white;
	color: black;
}
a:visited {
	color: #9919A8;
}
a:hover {
	color: #38E460;
}
table {
	background-color: white;
	border: black 5px solid;
	border-radius: 5px;
	padding: 5px;
	width: 80%;
	border-collapse: collapse;
	margin-left: 20px;
}
th, td {
	padding: 5px;
	border: black 2px solid;

}
th {
	background-color: #C0C0C0;
}
caption {
	font-size: 2em;
	padding: 20px;
}