body {
	background-color: #ffffff;
	color: #000000;
	font-family: sans-serif;
}
form {
	background-color: #cccccc;
	padding: 10px;
}

fieldset {
	background-color: #808080;
	border: 3px solid #ff0000;
}
/*
input, textarea {
	display: block;
}*/

input, textarea, select, fieldset {
	-webkit-box-sizing: border-box;
	width: 300px;
}
