body {
	background-color: #ffffff;
	color: #000000;
	font-family: sans-serif;
}
form {
	background-color: #cccccc;
/*	padding: 10px; */
}

fieldset {
	background-color: #808080;
	border: 3px solid #ff0000;
	padding: 10px;
	margin: 10px;
	-webkit-box-sizing: border-box;
	width: 500px;
}
/*
input, textarea {
	display: block;
}*/
