body {
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 0.9em;
	background-color: #8bb789;
	background-image: linear-gradient(to right, #3a6838 10%, #8bb789, #bfe0be);
	color: black;
}
header {
	text-align: center;
	background-image: url('Footer.jpg');
	overflow: hidden;
	background-repeat: no-repeat;
}
h1 {
	background-color: white;
	opacity: 0.5;
}
nav {
	float: left;
	width: 10em;
	padding-right: 10px;
	background-color: #e0d4be;
	border: 2px solid #996633;
	box-shadow: 0px 0px 10px #996633;
}
nav ul {
	list-style-image: url('ivy2.jpg');
	line-height: 40px;
}
nav a {
	color: black;
	text-decoration: none;
	font-size: 1em;
	display: block;
}
nav a:hover {
	color: white;
	background-color: #1a562c;
	border-radius: 5px;
}
article {
	margin: 2em;
	padding: 10px;
	overflow: auto;
	max-width:80%;
}
table {
	border-collapse: collapse;
	background-color: #e0d4be;
	box-shadow: 0px 0px 20px black;
}
th,td {
	padding: 5px;
	border-right: 2px black solid;
}
th {
	border-bottom: 3px black solid;
}
/*Main slideshow - plays automatically*/
.mainSlides {display:none}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*Other slideshows - manual operation*/
.gallery-container {
	max-width: 750px;
	position: relative;
	margin: auto;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 2em;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: #000000;
	opacity: 0.8;
}
.text {
	color: #f2f2f2;
	font-size: 1.5em;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	text-shadow: 2px 2px 20px #000000;
}
.dot {
	cursor:pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.dot:hover {
	background-color: #717171;
}

/*working on media/small screen versions*/
@media only screen and (max-width:600px) {
	nav {
		float: none;
		width: auto;
	}
	nav ul {
		margin-left: 30px;
		padding: 10px;
		line-height: 20px;
	}
	article {
		margin: 10px;
		padding: 10px;
		width: 100%;
	}
}
