body {
	background-color: black;
	color: white;
}
ul {
	list-style-type: none;
}
a:link {
	color: #FF0000;
	}
a:visited {
	color: #808080;
}
a:hover {
	color: #FFFF00;
	background-color: #FF0000;
	text-decoration: none;
}