#idfloatleft {
	float: left;
	background-color: #FFFFCC;
	font-family: Verdana, sans-serif;
	font-size: large;
	padding: 20px;
	}

.classheadlinedot {
	color: red;
	border-bottom: blue dashed;
}

#idabsolutegrey {
	background-color: #CCCCCC;
	border: solid;
	position: absolute; top: 20px; right: 40px;
}

.classrelativegreen {
	position-relative: 0 0 0 15px;
	background-color: #99CC66;
}

#idfixedgrey {
	position: fixed;
	background-color: #CCCCCC;
	font-weight: bold;
	padding: 10px;
}
