h1 {
	font-family: Times, serif;
	text-align: center;
	color: white;
	background-color: #4d4d4d;
	border: 3px solid #cc3300;
	border-radius: 15px;
	padding: 10px;
	
}
body {
	font-family: Times, serif;
	background-color: #b3b3b3;
	color: #000000;
}
